.p-1 {
  padding: 1em;
}
.p-3 {
  padding: 3em;
}
.p-r-3 {
  padding-right: 3em;
}
.m-l-3 {
  margin-left: 3em !important;
}
.m-l-15\% {
  margin-left: 15% !important;
}
.m-r-3 {
  margin-right: 3em !important;
}
.text-j {
  text-align: justify;
}
.in-2 {
  text-indent: 1.5em;
}
.in-1 {
  text-indent: 1em;
}
.text-bold {
  color: var(--black) !important;
  font-weight: bold;
}
.text-1bold {
  color: var(--black) !important;
  font-weight: 800 !important;
}
.text-2bold {
  color: var(--black) !important;
  font-weight: 900 !important;
}
.f-white {
  color:var(--smoke-white);
}
.f-primary {
  color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity));
}
.bg-book-c {
  background-color: var(--book-c);
  color: var(--smoke-white);
}
input.inp-bl {
  color: var(--black);
}
.bg-smkW {
  background-color:var(--smoke-white);
}
.bg-i {
  background-image: url("/img/pageDecoration.jpg");
  background-position:0 -10em;
  background-size: contain;
  background-repeat: repeat;
}
.centered {
  /* position: absolute; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.btn-menu-my {
  position: absolute;
  top: 10px;
  right: 10px;
}
:root
{
  --smoke-white: rgba(218, 213, 213, 0.795);
  --black: rgb(1, 2, 70);
  --book-c:#b21e23;
}



