.p-1{
    padding: 1em;
}
.p-3{
    padding: 3em;
}
.text-j{
    text-align: justify;
}
.in-2{
    text-indent: 1.5em;
}
.in-1{
    text-indent: 1em;
}
.text-bold{
    font-weight: bold;
}
.text-1bold{
    font-weight: 800 !important;
}
.text-2bold{
    font-weight: 900 !important;
}
input.inp-bl {
  color:black;
}
.f-white{
    color: white;
    
}
.f-primary{
    color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) ;
}
.bg-smkW{
    background-color: rgba(218, 213, 213, 0.795);
}
.m-l-3{
    margin-left: 3em;
}