@use "." as *;

.in-2 {
  text-indent: 1.5em;
}

.in-1 {
  text-indent: 1em;
}

.text-l {
  text-align: left;
}

.text {
  &-1bold {
    @include boldText(1);
  }
  &-2bold {
    @include boldText(2);
  }

  &-bold {
    @include boldText(1);
  }
  &-black {
    @include boldText(-2);
  }
}


.text-j {
  text-align: justify;
}

.centered {
  /* position: absolute; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.to-right {
  /* position: absolute; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
}
