.link-clear {
  text-decoration: none;
  text-decoration-color: white;
}
.p-1 {
  padding: 1em;
}
.p-3 {
  padding: 3em;
}
.p-r-3 {
  padding-right: 3em;
}
.m-l-3 {
  margin-left: 3em !important;
}
.m-l-5\% {
  margin-left: 5% !important;
}
.m-l-15\% {
  margin-left: 15% !important;
}
.m-l-30\% {
  margin-left: 30% !important;
}
.m-l-35\% {
  margin-left: 35%;
}
.m-r-3 {
  margin-right: 3em !important;
}
ul {
  list-style-image: url("/img/arrow_32.png");
}

.f-primary {
  color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity));
}
.f-book-c {
  /* background-color: var(--book-c); */
  color: var(--book-c) !important;
}
.bg-book-c {
  background-color: var(--book-c);
  /* color: var(--smoke-white); */
}
input.inp-bl {
  color: var(--black) !important;
}
.bg-smkW {
  background-color: var(--smoke-white);
}
.bg-i {
  background-image: url("/img/pageDecoration.jpg");
  background-position: 0 -10em;
  background-size: contain;
  background-repeat: repeat;
}
.bg-intro {
  /* background-image: url("/img/desktopImage.jpg"); */
  background-position: 0 -10em;
  background-size: cover;
  background-repeat: repeat;
}
.book-image {
  display: inline-block;
}
.mt-3r {
  margin-top: 3rem !important;
}
.mt-6r {
  margin-top: 6rem !important;
}
.mb-3 {
  margin-bottom: 3rem !important;
}
.line-height-1 {
  line-height: 46px;
}

hr {
  display: flex;
  height: 0.5px;
  border: 0;
  border-top: 0.5px solid #ccc;
}

.modal-90w {
  width: 90% !important;
  max-width: none !important;
}
